@import url(./_normalize.scss);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header__container {
  max-width: 863px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #2a293a;
  margin-top: 50px;
  margin-bottom: 34px;
}
.header__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.49%;
  max-width: 386px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  color: #736969;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 19px;
  justify-content: center;
  margin-bottom: 35px;
}
.header__button {
  border-radius: 16px;
  padding: 10px 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.49%;
  text-decoration: none;
}
.header__button-trial {
  background: #be2423;
  color: #ffe9e9;
}
.header__button-touch {
  color: #be2423;
  border: 1px solid #be2423;
  background: transparent;
}
.header__image {
  margin: 0 auto;
}
.header__image img {
  max-width: 863px;
  width: 100%;
}
.header__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 43px;
  color: #c1b0b0;
}

@media (max-width: 767px) {
  .header__title {
    font-size: 30px;
    line-height: 39px;
  }
}
@media (max-width: 419px) {
  .header__buttons {
    flex-direction: column;
  }
}
.data {
  background: #be2423;
}
.data__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 952px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.data__item {
  max-width: 183px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.data__item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #fff6f6;
}

@media (max-width: 767px) {
  .data__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .data__item-text {
    font-size: 16px;
  }
}
.how-it-works {
  background: url(./img/works-background.png);
  background-position-x: center;
  background-repeat: no-repeat;
  min-height: 703px;
  margin: 0 auto;
}
.how-it-works__container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 863px;
  width: 100%;
  margin: 0 auto;
}
.how-it-works__points {
  display: flex;
  flex-direction: column;
  gap: 33px;
  max-width: 441px;
  margin: 0 auto;
  padding-top: 53px;
}
.how-it-works__point {
  display: flex;
  flex-direction: row;
  gap: 38px;
}
.how-it-works__point-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135.5%;
  color: #fff6f6;
}
.how-it-works__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #fff6f6;
  margin-top: 67px;
  margin-bottom: 44px;
}
.how-it-works-play-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid #be2423;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.how-it-works-video {
  overflow: hidden;
  position: relative;
  background: #ffe9e9;
  border-radius: 24px;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.how-it-works-blur {
  max-width: 863px;
}

@media (max-width: 767px) {
  .how-it-works__point {
    gap: 24px;
  }
  .how-it-works__point-text {
    font-size: 14px;
  }
  .how-it-works__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.challenges__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 626px;
  margin: 0 auto;
  margin-top: 58px;
}
.challenges__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #2a293a;
  margin-bottom: 57px;
}
.challenges__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  margin-bottom: 61px;
}
.challenges__answer {
  display: none;
}
.challenges__answer-before {
  position: relative;
  height: 77px;
}
.challenges__answer-check-back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 43px;
  height: 43px;
  background: #f1efef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.challenges__answer-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.challenges__answer-text {
  max-width: 626px;
  width: 100%;
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 149.99%;
  color: #736969;
}
.challenges__question-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffe9e9;
}
.challenges__question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #bd0100;
  background: #bd0100;
  border-radius: 18px;
  max-width: 502px;
  width: 100%;
  padding: 16px 24px;
  margin: 0 auto;
}
.challenges__question-active .challenges__question-container {
  background: transparent;
}
.challenges__question-active .challenges__question-text {
  color: #be2423;
}
.challenges__question-active .challenges__question-arrow {
  rotate: 180deg;
  transition: rotate 0.5s;
  filter: invert(32%) sepia(51%) saturate(6412%) hue-rotate(348deg) brightness(76%) contrast(92%);
}
.challenges__question-active .challenges__answer {
  display: block;
}
@media (max-width: 767px) {
  .challenges__title {
    font-size: 24px;
  }
}
.choose {
  background-image: url(./img/choose.png);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 953px;
}
.choose__container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 672px;
  width: 100%;
  margin: 0 auto;
}
.choose__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #fff6f6;
  padding-top: 95px;
}
.choose__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
  margin-top: 66px;
}
.choose__card {
  background: #f1efef;
  opacity: 0.9;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  max-width: 304px;
  width: 100%;
  min-height: 312px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.choose__card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #2a293a;
}
.choose__card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 149.99%;
  color: #736969;
}

@media (max-width: 767px) {
  .choose__title {
    font-size: 24px;
  }
}
.cases__container {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #2a293a;
  margin-top: 57px;
  margin-bottom: 53px;
}
.cases__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #2a293a;
}
.cases__img {
  max-width: 884px;
  width: 100%;
}
.cases__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
  max-width: 488px;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 42px;
}
.cases__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.cases__question {
  max-width: 488px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  padding: 16px 24px;
  background: #fcfcfc;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.cases__question-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.cases__question-img {
  width: 33px;
  height: 33px;
}
.cases__solution {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  max-width: 488px;
  width: 100%;
  margin-top: 32px;
}
.cases__solution-img {
  width: 33px;
  height: 33px;
}
.cases__solution-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.cases__contact {
  background: #736969;
  border-radius: 16px;
  padding: 10px 24px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.49%;
  color: #fff6f6;
  margin-top: 61px;
  margin-bottom: 61px;
}

@media (max-width: 767px) {
  .cases__title {
    font-size: 24px;
  }
  .cases__subtitle {
    font-size: 16px;
  }
  .cases__text {
    font-size: 14px;
  }
  .cases__question {
    padding: 12px 18px;
  }
  .cases__question-text {
    font-size: 14px;
  }
  .cases__contact {
    margin-top: 20px;
  }
}
.on-prem {
  background-image: url(./img/on-prem.png);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 1197px;
}
.on-prem__container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.on-prem__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #fff6f6;
  text-align: center;
  padding-top: 80px;
}
.on-prem__question {
  background: #f1efef;
  max-width: 488px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  margin-top: 69px;
  margin-bottom: 39px;
  padding: 20px 70px 20px 29px;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.on-prem__question-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.on-prem__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  max-width: 488px;
  width: 100%;
  color: #fff6f6;
}
.on-prem__solution {
  max-width: 488px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 31px;
}
.on-prem__solution-img {
  width: 33px;
  height: 33px;
}
.on-prem__solution-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.99%;
  color: #fff6f6;
}
.on-prem__discuss {
  padding: 10px 24px;
  background: #f1efef;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.49%;
  text-decoration: none;
  color: #2a293a;
}

@media (max-width: 767px) {
  .on-prem__title {
    font-size: 16px;
  }
  .on-prem__question {
    padding: 12px 24px 12px 12px;
  }
  .on-prem__question-text {
    font-size: 14px;
  }
  .on-prem__text {
    font-size: 14px;
  }
  .on-prem__solution-text {
    font-size: 14px;
  }
}
@media (max-width: 419px) {
  .on-prem__text {
    font-size: 13px;
  }
  .on-prem__title {
    padding-top: 40px;
  }
  .on-prem__question {
    margin-top: 40px;
  }
}
.cloud__container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 854px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.cloud__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin-top: 58px;
  margin-bottom: 45px;
  color: #2a293a;
  text-align: center;
}
.cloud__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
  margin-bottom: 32px;
}
.cloud__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cloud__card {
  max-width: 397px;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 21px 18px;
}
.cloud__card-img {
  min-width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #736969;
  border-radius: 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 149.99%;
  color: #fff6f6;
}
.cloud__card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
  max-width: 312px;
  width: 100%;
}
.cloud__moreover {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  margin-top: 41px;
  margin-bottom: 34px;
}
.cloud__moreover-img {
  width: 33px;
  height: 33px;
}
.cloud__moreover-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
  max-width: 429px;
  width: 100%;
}
.cloud__text {
  max-width: 488px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.cloud__solution {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 31px;
  margin-bottom: 38px;
  max-width: 488px;
  width: 100%;
}
.cloud__solution-img {
  width: 33px;
  height: 33px;
}
.cloud__solution-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.cloud__free {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.49%;
  color: #ffe9e9;
  padding: 10px 24px;
  background: #be2423;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 37px;
  margin-bottom: 37px;
}

@media (max-width: 767px) {
  .cloud__title {
    font-size: 16px;
  }
  .cloud__card-text {
    font-size: 14px;
  }
  .cloud__text {
    font-size: 14px;
  }
  .cloud__moreover-text {
    font-size: 14px;
  }
  .cloud__solution-text {
    font-size: 14px;
  }
}
.migrating {
  background-image: url(./img/migrating-background.png);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 737px;
}
.migrating__container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;
}
.migrating__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff6f6;
  padding-top: 50px;
}
.migrating__question {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 19px 66px 19px 29px;
  margin-top: 43px;
  margin-bottom: 27px;
  max-width: 488px;
  width: 100%;
  background: #f1efef;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.migrating__question-img {
  width: 33px;
  height: 33px;
}
.migrating__question-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #2a293a;
}
.migrating__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.99%;
  color: #fff6f6;
  max-width: 488px;
  width: 100%;
}
.migrating__solution {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 31px;
  gap: 16px;
}
.migrating__solution-img {
  width: 33px;
  height: 33px;
}
.migrating__solution-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.99%;
  color: #fff6f6;
}

@media (max-width: 767px) {
  .migrating__title {
    font-size: 16px;
    padding-top: 40px;
  }
  .migrating__question {
    padding: 12px 24px 12px 12px;
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .migrating__question-text {
    font-size: 14px;
  }
  .migrating__text {
    font-size: 14px;
  }
  .migrating__solution {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 419px) {
  .migrating__title {
    font-size: 14px;
    padding-top: 40px;
  }
  .migrating__question {
    padding: 12px 24px 12px 12px;
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .migrating__question-text {
    font-size: 12px;
  }
  .migrating__text {
    font-size: 12px;
  }
}
.sover {
  background: #f1efef;
}
.sover__container {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sover__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2a293a;
  margin-top: 55px;
}
.sover__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #736969;
  max-width: 488px;
  width: 100%;
  margin-top: 34px;
  margin-bottom: 34px;
}

@media (max-width: 767px) {
  .sover__title {
    font-size: 16px;
  }
  .sover__subtitle {
    font-size: 14px;
  }
}
.transfer__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1007px;
  width: 100%;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.transfer__negatives {
  max-width: 466px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #fcfcfc;
  opacity: 0.9;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px 43px;
}
.transfer__negative {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 47px;
}
.transfer__negative-img {
  width: 33px;
  height: 33px;
}
.transfer__negative-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #736969;
}
.transfer__positives-container {
  max-width: 466px;
  width: 100%;
  max-width: 466px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #fcfcfc;
  opacity: 0.9;
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px 43px;
  margin-bottom: 60px;
}
.transfer__positive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}
.transfer__positive-img {
  width: 33px;
  height: 33px;
}
.transfer__positive-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #736969;
}
.transfer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160.49%;
  color: #ffe9e9;
  padding: 15px 36px;
  background: #be2423;
  border-radius: 35px;
  text-decoration: none;
}

@media (max-width: 1023px) {
  .transfer__container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .transfer__positives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .transfer__positives-container {
    padding: 12px 14px;
  }
  .transfer__negatives {
    padding: 12px 14px;
  }
  .transfer__negative {
    gap: 16px;
  }
  .transfer__negative-text {
    font-size: 14px;
  }
  .transfer__positive {
    gap: 16px;
  }
  .transfer__positive-text {
    font-size: 14px;
  }
  .transfer__link {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */